doctype html
html(lang='en-US')
  head
    link(rel='stylesheet', href='stylesheets/style.css')
    meta(charset='UTF-8')
    title Customer Menu
  body
    .left
    .main
      if(test)
          h4 #{test}
      h3 This directs to apartment listing!
      p
        img(src='https://media.tfehotels.com/media/filer_public_thumbnails/filer_public/c2/95/c295a7fb-b7e2-4788-b4c1-5736273399d1/adina-apartment-hotel-auckland-britomart-three-bedroom-premier-apartment-lounge-room-01-2017109-1.jpg__1230x615_q85_crop_subsampling-2_upscale.jpg', width='900', height='550')
      if(message)
      h4 #{message}