doctype html
html(lang='en-US')
  head
    meta(charset='UTF-8')
    title HideIn - Change Password
    link(rel='stylesheet', href='stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    link(rel='stylesheet', href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')
    script(src='/objects.js')
    script(type='text/javascript').
      var check_pwd = function() {
      if (document.getElementById('confirm_new_password').value ==
      document.getElementById('new_password').value) {
      document.getElementById('message_cnf_pwd').style.color = 'green';
      document.getElementById('message_cnf_pwd').innerHTML = 'matching';
      document.getElementById('confirm_change_pwd').disabled = false;
      } else {
      document.getElementById('message_cnf_pwd').style.color = 'red';
      document.getElementById('message_cnf_pwd').innerHTML = 'not matching';
      document.getElementById('confirm_change_pwd').disabled = true;
      }
      }
      var check_cnf_pwd = function() {
      if (document.getElementById('confirm_new_password').value ==
      document.getElementById('new_password').value) {
      document.getElementById('message_cnf_pwd').style.color = 'green';
      document.getElementById('message_cnf_pwd').innerHTML = 'matching';
      document.getElementById('confirm_change_pwd').disabled = false;
      } else {
      document.getElementById('message_cnf_pwd').style.color = 'red';
      document.getElementById('message_cnf_pwd').innerHTML = 'not matching';
      document.getElementById('confirm_change_pwd').disabled = true;
      }
      }
  body
    .top
      h1(style='color: white; text-align: center;') HideIn
    .left
    .main
      form(action='confirm-change-password', method='post')
        fieldset
          legend HideIn Change Password Screen
          p
            label Current Password:
            input(name='currentPassword', type='password', placeholder='Current Password', required='')
          p
            label New Password:
            input#new_password(name='newPassword', type='password', placeholder='New Password', onkeyup='check_pwd();', required='')
          p
            label Confirm New Password:
            input#confirm_new_password(name='confirmPassword', type='password', placeholder='Confirm Password', onkeyup='check_cnf_pwd();', required='')
            span#message_cnf_pwd
          p
            input#confirm_change_pwd(type='submit', value='Change Password', disabled='')
          if(message)
          h4 #{message}
